body{
	background-color: #000025;
	color:white;
}

#title{
	text-align: center;
}

#title h1{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top:5px;
}

#title img{
	display:block;
	margin-top: -8px;
	margin-left: auto;
	margin-right: auto;
}

#deckInfo{
	display:inline;
}

#deck {
	background-color: rgba(100,100,100,.2);
	height: 230px;
	overflow: auto;
    white-space: nowrap;
}

#cardList {
	padding-top: 10px;
	background-color: rgba(100,100,100,.2);
	height: 230px;
	overflow: auto;
    white-space: nowrap;
}

#filter {
	text-align:center;
}

#myChart{
	margin-left: auto;
	margin-right: auto;
}

#error{
	min-height: 22px;
	color: #ff0000;
}

.card{
	position:relative;
	cursor: pointer;
	width: 150px;
	height: 192px;
	display:inline-block;
	text-align: center;
}

.cardImage{
	max-height:100%;
	max-width:100%;
	width:auto;
}

.card h3{
	margin:0;
	left:75px;
}